<div
  class="flex items-center w-full md:grid md:place-items-center justify-center p-[25px_20px] md:container mx-auto"
>
  <div
    class="grid w-full max-w-[1120px] mx-auto place-items-start justify-between"
  >
    <!-- title  -->
    <div
      class="md:text-[32px] text-xl text-start w-full mb-4 flex justify-between items-center"
    >
      <h1 class="text-[20px] md:text-[32px] font-semibold md:font-normal">
        My Saved Addresses
      </h1>
      <button>
        <i class="pi pi-bars w-[24px] block md:hidden"></i>
      </button>
    </div>
    <!--  -->
    <div class="text-start w-[100%] md:w-[49%] gap-3">
      <section>
        <div class="mb-4 !bg-[var(--p--surface-e)] p-[16px] rounded-2xl">
          <div>
            <div class="flex justify-between items-start">
              <div class="flex items-start justify-start flex-col">
                <div class="flex justify-center items-center">
                  <img src="/assets/icon/AddressCard.svg" />
                  <div class="ml-2">
                    <p
                      class="text-primary text-[#0067FF] text-xl text-start pb-2"
                    >
                      Address Name
                    </p>
                    <p class="text-[#8E8E93] text-base">
                      City - Area - address address address address
                    </p>
                  </div>
                </div>
              </div>
              <button>
                <i class="pi pi-ellipsis-v w-[20px]"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div
      class="!bg-[var(--p--surface-e)] rounded-[25px] hidden md:block w-[49%] p-[24px]"
    >
      <div>
        <app-shipping-form
          [fieldsToShow]="{
            country: true,
            city: true,
            address: true,
            area: true,
            floor: true,
            name: true,
            number: true,
            addressType: true
          }"
          [form]="shippingFrom"
          title="Shipping From"
        ></app-shipping-form>
        <div class="flex gap-4 mt-4">
          <p-button
            class="back-button button first w-full"
            label="Cancel"
          ></p-button>

          <p-button
            class="next-button button first w-full"
            label="Save"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
