<div
  class="flex items-center flex-col w-full md:flex md:place-items-center justify-center p-[25px_8px] md:container mx-auto"
>
  <!-- title  -->
  <div
    class="md:text-[32px] text-xl text-start w-full max-w-[1120px] mb-[30px] flex justify-between items-center"
  >
    <h1 class="text-[20px] md:text-[32px] font-semibold md:font-normal">
      My Saved Addresses
    </h1>
    <button>
      <i class="pi pi-bars w-[24px] block md:!hidden"></i>
    </button>
  </div>

  <div
    class="flex w-full max-w-[1120px] mx-auto place-items-start justify-between"
  >
    <!--  -->
    <div
      class="text-start mb-4 p-[16px] w-[100%] md:!w-[49%] gap-[8px] bg-[var(--p-surface-0)] rounded-[15px]"
    >
      <!-- *ngFor="let item of weightForm.get('items')?.value" -->
      <section>
        <div>
          <div class="flex justify-between items-start">
            <div class="flex items-start justify-start flex-col">
              <div class="flex justify-center items-center">
                <img src="/assets/icon/AddressCard.svg" />
                <div class="ml-[10px] md:ml-[15px]">
                  <p
                    class="text-primary text-[#0067FF] text-[16px] md:text-xl text-start pb-2"
                  >
                    Address Name
                  </p>
                  <p class="text-[#8E8E93] text-[14px] md:text-base">
                    City - Area - address address address address
                  </p>
                </div>
              </div>
            </div>
            <button>
              <i class="pi pi-ellipsis-v w-[20px]"></i>
            </button>
          </div>
        </div>
      </section>
    </div>

    <div
      class="bg-[var(--p-surface-0)] rounded-[25px] hidden md:block !w-[49%] p-[24px]"
    >
      <!--  -->

      <!--  -->
      <div style="width: 100%" class="mb-3">
        <div>
          <app-shipping-form
            [fieldsToShow]="{
              country: true,
              city: true,
              address: true,
              area: true,
              floor: true,
              name: true,
              number: true,
              addressType: true
            }"
            [form]="shippingFrom"
            title="Add a new address"
          ></app-shipping-form>
          <div class="flex gap-4 mt-[25px]">
            <p-button
              class="back-button button first w-full"
              label="Cancel"
            ></p-button>

            <p-button
              class="next-button button first w-full"
              label="Save"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
