<p-card class="custom-card w-full sm:w-[400px]">
  <div class="flex flex-row items-center justify-between gap-4">
    <!-- Left Section -->
    <div class="flex items-center w-full sm:w-auto">
      <p-avatar icon="pi pi-image" class="mr-2"></p-avatar>
      <div>
        <p class="text-primary text-[#0067FF] text-base sm:text-xl font-normal">
          {{ Company }}
        </p>
        <p class="text-sm text-secondary text-[#8E8E93] font-normal">
          {{ Service }}
        </p>
      </div>
    </div>

    <div class="text-left sm:text-right w-full sm:w-auto">
      <p class="text-base">
        <b>{{ price }}</b>
      </p>
    </div>

    <button
      class="bg-[#0067FF] text-sm font-normal text-white rounded-xl cursor-pointer px-5 py-2 w-auto"
      (click)="selectCard()"
    >
      {{ button }}
    </button>
  </div>
</p-card>
