<form #form="ngForm">
    <div class="flex flex-col gap-3 my-2 w-full">
      <!-- <div [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">
        <p-button
          [label]="'Choose Price Method' | translate"
          (onClick)="openPricingDialog()"
        />
      </div> -->
      <div class="flex gap-2 w-full">
        <div class="flex-1 flex flex-col gap-2">
          <label for="type" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">{{
            "Vehicle Type" | translate
          }}</label>
          <p-multiSelect
            [options]="vehicles()"
            [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
            name="selectedVehicleTypes"
            [(ngModel)]="data.vehicle"
            [optionLabel]="currentLang() === 'ar' ? 'name.ar' : 'name.en'"
            styleClass="w-full min-h-10"
          >
          </p-multiSelect>
        </div>
      </div>
      <div class="w-full flex flex-col gap-2">
        <label for="PackageType" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">{{
          "PackageType" | translate
        }}</label>
        <p-multiSelect
          class="w-full"
          [options]="types()"
          [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
          name="selectedPackages"
          [(ngModel)]="data.packageType"
          [optionLabel]="currentLang() === 'ar' ? 'name.ar' : 'name.en'"
          [filter]="true"
          filterBy="name"
          styleClass="w-full min-h-10"
        >
        </p-multiSelect>
      </div>
      <div class="w-full flex flex-col gap-2">
        <div class="flex gap-3">
          <div class="flex flex-col gap-2 w-1/2">
            <label for="from" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">{{
              "from" | translate
            }}</label>
            <input
              class="flex-1"
              [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
              type="number"
              pInputText
              name="from"
              [(ngModel)]="data.from"
              id="From"
            />
          </div>
          <div class="flex flex-col gap-2 w-1/2">
            <label for="to" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">{{
              "to" | translate
            }}</label>
            <input
              class="flex-1"
              [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
              type="number"
              pInputText
              name="to"
              [(ngModel)]="data.to"
              id="To"
            />
          </div>
        </div>
      </div>
      <div class="w-full flex flex-col gap-2">
        <div class="flex gap-3">
          <div class="flex flex-col gap-2 w-1/2">
            <label for="minWeight" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">{{
              "min weight" | translate
            }}</label>
            <input
              [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
              class="flex-1"
              type="number"
              pInputText
              name="minWeight"
              [(ngModel)]="data.minWeight"
              id="minWeight"
            />
          </div>
          <div class="flex flex-col gap-2 w-1/2">
            <label for="maxWeight" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">{{
              "max weight" | translate
            }}</label>
            <input
              [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
              class="flex-1"
              type="number"
              pInputText
              name="maxWeight"
              [(ngModel)]="data.maxWeight"
              id="maxWeight"
            />
          </div>
        </div>
      </div>
      <div class="w-full flex flex-col gap-2">
        <div class="flex gap-3">
          <div class="flex flex-col gap-2 w-1/2">
            <label for="riskFees" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">{{
              "risk fees" | translate
            }}</label>
            <input
              [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
              class="flex-1"
              type="number"
              pInputText
              name="riskFees"
              [(ngModel)]="data.riskFees"
              id="riskFees"
            />
          </div>
          <div class="flex flex-col gap-2 w-1/2">
            <label for="fuelFees" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">{{
              "fuel fees" | translate
            }}</label>
            <input
              [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
              class="flex-1"
              type="number"
              pInputText
              name="fuelFees"
              [(ngModel)]="data.fuelFees"
              id="fuelFees"
            />
          </div>
        </div>
      </div>
      <div class="w-full flex flex-col gap-2">
        <div class="flex justify-between gap-3">
          <div class="flex flex-col gap-2 w-1/3">
            <label for="length" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">{{
              "max length" | translate
            }}</label>
            <input
              [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
              class=""
              [(ngModel)]="data.maxLength"
              type="number"
              pInputText
              name="length"
              id="length"
            />
          </div>
          <div class="flex flex-col gap-2 w-1/3">
            <label for="height" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">{{
              "max height" | translate
            }}</label>
            <input
              [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
              class=""
              type="number"
              pInputText
              name="height"
              [(ngModel)]="data.maxHeight"
              id="height"
            />
          </div>
          <div class="flex flex-col gap-2 w-1/3">
            <label for="width" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">{{
              "max width" | translate
            }}</label>
            <input
              [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
              class=""
              type="number"
              pInputText
              name="width"
              [(ngModel)]="data.maxWidth"
              id="width"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- <div class="p-dialog-footer custom-footer py-4">
    <div class="flex justify-end">
      <p-button
        pRipple
        [outlined]="true"
        [label]="'Close' | translate"
        [disabled]="saving"
        [loading]="saving"
      >
      </p-button>
      <p-button
        pRipple
        [label]="'Save' | translate"
        (onClick)="save()"
        [loading]="saving"
        [disabled]="form.form.invalid"
        [loading]="saving"
      >
      </p-button>
    </div>
  </div>
   -->