<div
  class="flex items-center gap-2"
  [style.--button-width]="'calc(100% / ' + types.length + ')'"
>
  <button
    *ngFor="let type of types"
    class="p-[7px] !bg-[var(--p-surface-0)] cursor-pointer rounded-2xl transition-all opacity-70 border border-transparent min-w-[140px] w-[140px] md:w-[var(--button-width)]"
    [ngClass]="{
      'opacity-100 !border-[#2b7fff] ': selectedType === type
    }"
    (click)="selectType(type)"
  >
    <div class="flex justify-start items-center">
      <img [src]="'/assets/icon/' + type + '.svg'" class="w-[56px]" />
      <p class="ml-2 font-semibold text-lg">{{ type }}</p>
    </div>
  </button>
</div>
