<form [formGroup]="form" class="font-normal">
  <div class="mb-4 w-[33%] md:w-[27%] text-start flex flex-col gap-2">
    <label class="text-[16px]" for="Quantity"> Quantity </label>
    <p-multiSelect
      id="Quantity"
      styleClass="rounded-[10px]  border-[#E5E5EA] w-full !p-[14px_16px] !bg-[var(--p-surface-0)]"
      placeholder="Choose"
      optionLabel="label"
    />
  </div>

  <div formArrayName="items">
    <div
      *ngFor="let item of items.controls; let i = index"
      [formGroupName]="i"
      class="!bg-[var(--p-surface-0)] rounded-[20px] mb-4 p-[24px_24px_16px_24px]"
    >
      <div class="flex justify-between mb-[20px] items-center relative">
        <h3 class="text-[#0067FF] text-xl font-semibold">
          {{ i + 1 }}<span *ngIf="i === 0">st</span
          ><span *ngIf="i === 1">nd</span><span *ngIf="i === 2">rd</span
          ><span *ngIf="i > 2">th</span>
        </h3>
        <button>
          <i
            class="pi pi-ellipsis-v text-[15px] cursor-pointer"
            (click)="toggleDropdown(i, $event)"
          ></i>
        </button>

        <ul
          *ngIf="item.value.isDropdownOpen"
          class="absolute text-[#2A3950] text-base text-start right-0 top-6 w-48 bg-white p-[0_16px] rounded-[15px] z-10"
          (click)="$event.stopPropagation()"
        >
          <li
            class="p-[18px_8px] cursor-pointer border-b border-[#E5E5EA]"
            (click)="openDialog()"
          >
            Save
          </li>
          <app-save-addresses
            title="Save to Packages"
            label="Package Name"
            [visible]="isDialogVisible"
            (visibleChange)="isDialogVisible = $event"
          ></app-save-addresses>

          <li
            class="p-[18px_8px] cursor-pointer border-b border-[#E5E5EA]"
            (click)="openDialogRadio()"
          >
            Saved packages
          </li>
          <app-save-radio
            title="Saved Packages"
            [addresses]="addresses"
            (visibleChange)="isDialogRadioVisible = $event"
            [visible]="isDialogRadioVisible"
          ></app-save-radio>

          <li
            class="p-[18px_8px] cursor-pointer border-b border-[#E5E5EA]"
            (click)="addItem()"
          >
            Duplicate
          </li>
          <li class="p-[18px_8px] cursor-pointer" (click)="removeItem(i)">
            Clear
          </li>
        </ul>
      </div>

      <div
        *ngIf="!item.value.expanded"
        class="flex flex-nowrap gap-2 mb-4 transition-all"
      >
        <div style="width: calc(97% / 5)">
          <div class="flex flex-col gap-2 w-full">
            <label class="text-[16px] text-start" for="Length"> Length </label>
            <div class="relative">
              <input
                formControlName="length"
                pInputText
                type="text"
                id="Length"
                placeholder="Example"
                class="rounded-[10px] p-[13.5px_16px] !bg-[var(--p--surface-e)] border-1 border-[#E5E5EA] max-w-full"
              />
              <span class="absolute right-3 top-3">c.m</span>
            </div>
          </div>
        </div>
        <div style="width: calc(97% / 5)" *ngIf="selectedType === 'Pallet'">
          <div class="flex flex-col gap-2 w-full">
            <label class="text-[16px] text-start" for="Width"> Width </label>
            <div class="relative">
              <input
                formControlName="width"
                pInputText
                type="text"
                id="Width"
                placeholder="Example"
                class="rounded-[10px] p-[12px_16px] !bg-[var(--p--surface-e)] border-1 border-[#E5E5EA] max-w-full"
              />
              <span class="absolute right-3 top-3">c.m</span>
            </div>
          </div>
        </div>
        <div style="width: calc(97% / 5)">
          <div class="flex flex-col gap-2 w-full">
            <label class="text-[16px] text-start" for="Height"> Height </label>
            <div class="relative">
              <input
                formControlName="height"
                pInputText
                type="text"
                id="Height"
                placeholder="Example"
                class="rounded-[10px] p-[12px_16px] !bg-[var(--p--surface-e)] border-1 border-[#E5E5EA] max-w-full"
              />
              <span class="absolute right-3 top-3">c.m</span>
            </div>
          </div>
        </div>
        <div style="width: calc(97% / 5)">
          <div class="flex flex-col gap-2 w-full">
            <label class="text-[16px] text-start" for="Weight"> Weight </label>
            <div class="relative">
              <input
                formControlName="weight"
                pInputText
                type="text"
                id="Weight"
                placeholder="Example"
                class="rounded-[10px] p-[12px_16px] !bg-[var(--p--surface-e)] border-1 border-[#E5E5EA] max-w-full"
              />
              <span class="absolute right-3 top-3">k.g</span>
            </div>
          </div>
        </div>
        <div style="width: calc(97% / 5)">
          <div class="flex flex-col gap-2 w-full">
            <label class="text-[16px] text-start" for="Description">
              Description
            </label>
            <div class="relative">
              <input
                formControlName="description"
                pInputText
                type="text"
                id="Description"
                placeholder="Example"
                class="rounded-[10px] p-[12px_16px] !bg-[var(--p--surface-e)] border-1 border-[#E5E5EA] max-w-full"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="item.value.expanded"
        class="rounded-lg transition-all duration-300 ease-in-out"
      >
        <p
          class="text-[14px] flex justify-between text-[#8E8E93] cursor-pointer text-start mt-0"
        >
          L: {{ item.value.length }} cm | W: {{ item.value.width }} cm | H:
          {{ item.value.height }} cm
          <span> Weight: {{ item.value.weight }} kg </span>
        </p>
      </div>

      <button
        type="button"
        (click)="toggleExpand(i)"
        class="mt-[20px] border-none flex justify-center items-center w-full transition-all duration-300"
      >
        <i
          *ngIf="item.value.expanded; else collapsedIcon"
          class="pi pi-chevron-down w-[12px]"
        ></i>
        <ng-template #collapsedIcon>
          <i class="pi pi-chevron-up w-[12px]"></i>
        </ng-template>
      </button>
    </div>
  </div>

  <button
    type="button"
    (click)="addItem()"
    class="custom-dashed p-[10px_0px] w-full rounded-[12px] border-1 border-[#aeaeb2] border-dashed text-[#aeaeb2]"
  >
    + Add more
  </button>
</form>
