<form #form="ngForm">
  <div class="flex flex-col gap-3 my-2 w-full">
    <div class="flex flex-row gap-2">
      <div class="flex-1 flex flex-col gap-2">
        <label [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'" for="nameAr">{{
          "Name In Arabic" | translate
        }}</label>
        <input
          type="text"
          [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
          [(ngModel)]="dynamicDialogConfig.data.obj.name.ar"
          pInputText
          name="nameAr"
          id="name"
        />
      </div>
      <div class="flex-1 flex flex-col gap-2">
        <label [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'" for="nameEn">{{
          "Name In English" | translate
        }}</label>
        <input
          type="text"
          [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
          [(ngModel)]="dynamicDialogConfig.data.obj.name.en"
          pInputText
          name="nameEn"
          id="name"
        />
      </div>
    </div>
    <div class="flex-1 flex flex-col gap-2">
      <label [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'" for="type">{{
        "Shipping Type" | translate
      }}</label>
      <p-dropdown
        class="w-full"
        [options]="shippingTypes()"
        [(ngModel)]="dynamicDialogConfig.data.obj.shippingType"
        [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
        name="selectedShippingType"
        [optionLabel]="currentLang() === 'ar' ? 'name.ar' : 'name.en'"
        [filter]="true"
        filterBy="name"
        styleClass="w-full min-h-10"
      >
      </p-dropdown>
    </div>
    <div class="w-full flex flex-col gap-2">
      <label [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'" for="Company">{{
        "Company" | translate
      }}</label>
      <p-dropdown
        class="w-full"
        [options]="companies()"
        [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
        [(ngModel)]="dynamicDialogConfig.data.obj.shippingCompany"
        name="selectedCompany"
        [optionLabel]="currentLang() === 'ar' ? 'name.ar' : 'name.en'"
        [filter]="true"
        filterBy="name"
        styleClass="w-full min-h-10"
      >
      </p-dropdown>
    </div>
    <div class="flex-1 flex flex-col gap-2">
      <label [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'" for="City">{{
        "City" | translate
      }}</label>
      <p-multiSelect
        class="w-full"
        [options]="cities()"
        [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
        [(ngModel)]="dynamicDialogConfig.data.obj.city"
        name="selectedCity"
        [optionLabel]="currentLang() === 'ar' ? 'name.ar' : 'name.en'"
        [filter]="true"
        filterBy="name"
        styleClass="w-full min-h-10"
      >
      </p-multiSelect>
    </div>
  </div>
</form>
<div class="p-dialog-footer custom-footer py-4">
  <div class="flex justify-end">
    <p-button
      pRipple
      [outlined]="true"
      [label]="'Close' | translate"
      (onClick)="dynamicDialogRef.close()"
      [disabled]="saving"
      [loading]="saving"
    >
    </p-button>
    <p-button
      pRipple
      [label]="'Next' | translate"
      (onClick)="save()"
      [loading]="saving"
      [disabled]="form.form.invalid"
      [loading]="saving"
    >
    </p-button>
  </div>
</div>
