<form #form="ngForm">
  <div class="flex flex-col gap-3 my-2 w-full">
    <div
      class="flex flex-row gap-3 w-full"
      [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
    >
      <div class="w-full flex flex-col gap-2">
        <label for="NameAr">{{ "Name In Arabic" | translate }}</label>
        <input
          type="text"
          id="NameAr"
          [placeholder]="'Enter Name' | translate"
          pInputText
          name="NameAr"
          [(ngModel)]="dynamicDialogConfig.data.obj!.name!.ar"
        />
      </div>
      <div class="w-full flex flex-col gap-2">
        <label for="NameEn">{{ "Name In English" | translate }}</label>
        <input
          type="text"
          id="NameEn"
          [placeholder]="'Enter Name' | translate"
          pInputText
          name="NameEn"
          [(ngModel)]="dynamicDialogConfig.data.obj!.name!.en"
        />
      </div>
    </div>
  </div>
</form>
<div class="p-dialog-footer custom-footer py-4">
  <div class="flex justify-end">
    <p-button
      pRipple
      [outlined]="true"
      [label]="'Close' | translate"
      (onClick)="dynamicDialogRef.close()"
      [disabled]="saving"
      [loading]="saving"
    ></p-button>
    <p-button
      pRipple
      [label]="'Save' | translate"
      (onClick)="save()"
      [loading]="saving"
      [disabled]="form.form.invalid"
      [loading]="saving"
    ></p-button>
  </div>
</div>
