<div class="card my-3 px-3">
  <div class="flex flex-row w-full gap-3 mb-3">
    <p-button (click)="openDialog()" pRipple ButtonIconPosition="right">
      <ng-template pTemplate="content">
        <div class="flex items-center gap-2">
          <span class="pi pi-plus"></span>
          <span class="md:block hidden font-semibold capitalize">
            {{ "Add" | translate }}
          </span>
        </div>
      </ng-template>
    </p-button>
  </div>

  <p-table
    [columns]="cols"
    [value]="objs()"
    [tableStyle]="{ 'min-width': '50rem' }"
    [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track $index) {
        <th
        class="{{currentLang() === 'en' ? 'text-left' : 'text-right'}}"
        >
          {{ col.header | translate }}
        </th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track $index) {
        <td
          [class.text-right]="currentLang() === 'ar'"
          [class.text-left]="currentLang() !== 'ar'"
        >
          <ng-container *ngIf="col.field !== 'processes'; else actionsTemplate">
            {{
              currentLang() === "en"
                ? rowData[col.field]?.en
                : rowData[col.field]?.ar
            }}
          </ng-container>
          <ng-template #actionsTemplate>
            <div class="text-end w-max" dir="ltr">
              <p-buttonGroup>
                <p-button
                  (onClick)="delete(rowData , $index)"
                  [outlined]="true"
                  [label]="'Delete' | translate"
                ></p-button>
                <p-button
                  (onClick)="openDialog(rowData)"
                  [outlined]="true"
                  [label]="'Edit' | translate"
                ></p-button>
              </p-buttonGroup>
            </div>
          </ng-template>
        </td>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="loadingbody">
      @for (i of [].constructor(paginationState.getValue().rows!); track $index)
      {
      <tr>
        @for (i of [].constructor(cols.length); track $index) {
        <td>
          <p-skeleton height="3rem"></p-skeleton>
        </td>
        }
      </tr>
      }
    </ng-template>
  </p-table>

  <p-paginator
    [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
    (onPageChange)="onPageChange($event)"
    [rows]="paginationState.getValue().rows!"
    [totalRecords]="count()"
    [rowsPerPageOptions]="[15, 50, 100]"
  ></p-paginator>
</div>
