@if (files.length<=0) {
<div
  class="drop-area flex items-center justify-center flex-col gap-3"
  (drop)="onFileDropped($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  [@dragging]="!isNotDragging.toString()"
>
  <div class="text-center mx-1">
    {{ "Drag and Drop a file here or click upload icon" | translate }}
  </div>
  <i
    class="pi pi-upload upload-icon"
    style="font-size: 2rem"
    (click)="uploadFile()"
  ></i>
</div>
}@else { @if(onlyViewIcon){
<div class="flex items-center flex-row gap-3">
  <span>{{ files[0].name! | fileName }}</span>
  <p-button
    icon="pi pi-eye"
    [rounded]="true"
    [outlined]="true"
    (onClick)="viewFile(0)"
  />
</div>
}@else{
<div class="relative drop-area">
  <div
    class="w-full mb-3 rounded-lg relative flex items-center justify-center flex-col gap-3"
  >
    <span>{{ files[0].name! | fileName }}</span>
    <p-button
      icon="pi pi-eye"
      [rounded]="true"
      [outlined]="true"
      (onClick)="viewFile(0)"
    />
  </div>
  @if(canDelete){
  <p-button
    class="absolute top-2 right-2"
    icon="pi pi-times"
    severity="danger"
    (onClick)="removeFile(0)"
  ></p-button>
  }
</div>
} }
