<div>
  <div class="p-dialog-header custom-header">
    <div class="flex justify-between items-center flex-row">
      <div>
        {{ "Crop Image" | translate }}
      </div>
      <div>
        <i
          (click)="dynamicDialogRef.close()"
          class="pi pi-times cursor-pointer text-xl"
        ></i>
      </div>
    </div>
  </div>
  <div>
    {{ dynamicDialogConfig.data?.format }}
    <image-cropper
      [imageFile]="dynamicDialogConfig.data?.imageFile"
      [ngStyle]="{ 'max-width.px': dynamicDialogConfig.data?.max_image_width }"
      [imageBase64]="dynamicDialogConfig.data?.imageBase64"
      [maintainAspectRatio]="dynamicDialogConfig.data?.maintainAspectRatio!"
      [aspectRatio]="dynamicDialogConfig.data?.aspectRatio!"
      [format]="dynamicDialogConfig.data?.format!"
      (imageCropped)="imageCropped($event)"
      output="base64"
    ></image-cropper>
  </div>
  <div class="p-dialog-footer custom-footer py-4">
    <div class="flex justify-end">
      <p-button
        pRipple
        [outlined]="true"
        [label]="'Close' | translate"
        (onClick)="dynamicDialogRef.close()"
      ></p-button>
      <p-button
        pRipple
        [label]="'Save' | translate"
        (onClick)="doneCropping()"
      ></p-button>
    </div>
  </div>
</div>
