.custom-dashed {
  padding: 10px 0;
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
  border: 2px dashed transparent;
  color: #aeaeb2;
  border-image: repeating-linear-gradient(
      800deg,
      #d1d1d6,
      #d1d1d6 15px,
      transparent 1px,
      transparent 20px
    )
    5;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* mt-6 w-full py-2 rounded-lg text-[#AEAEB2] border-gray-400 border-1 border-dashed" */
