<form>
  <div class="flex flex-col gap-4 w-full">
    <div class="flex w-full flex-col gap-2">
      <label for="type" [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">
        {{ "Pricing Method" | translate }}
      </label>
      <p-multiSelect
        [options]="pricingTypes()"
        [(ngModel)]="selectedPricing"
        (onChange)="changePricingMethod($event)"
        [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
        name="selectedPricingMethod"
        [optionLabel]="currentLang() === 'ar' ? 'name.ar' : 'name.en'"
        [filter]="true"
        filterBy="name"
        [placeholder]="'Select Pricing Method' | translate"
        styleClass="w-full min-h-10 border"
      >
      </p-multiSelect>
    </div>
    <div class="flex flex-col gap-4">
      @if(isZones()){
      <div [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">
        <p-button
          pRipple
          [label]="'Add New Range' | translate"
          (onClick)="openRangeDialog()"
        />
      </div>
      }
      <div
        class="grid grid-cols-3 gap-4"
        [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
      >
        @for(price of selectedPricing; track price.id)
        { @if(price.code !==
        2){
        <div class="flex flex-col gap-1 p-2">
          <label [for]="'price' + price.code">
            {{ (price.code === 1 ? 'price per 1km'
            : price.code === 3 ? 'price per 1kg'
            : price.code === 4 ? 'price per 1m'
            :'') | translate
            }}
          </label>
          <input
            class="p-2 border w-full"
            [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
            [(ngModel)]="pricesArray[price.code.toString()]"
            type="number"
            pInputText
            [name]="'price' + price.id"
            [id]="'price' + price.id"
          />
        </div>
        } }
      </div>
    </div>
  </div>
</form>

<div class="p-dialog-footer custom-footer py-4">
  <div class="flex justify-end">
    <p-button
      pRipple
      [outlined]="true"
      [label]="'Close' | translate"
      (onClick)="dynamicDialogRef.close()"
    >
    </p-button>
    <p-button pRipple [label]="'Save' | translate" (onClick)="save()">
    </p-button>
  </div>
</div>
