<div class="sm:w-[800px] w-[382px]">
  <p-card class="custom-card">
    <div class="flex items-center justify-between">
      <div class="flex">
        <p-avatar icon="pi pi-image" class="mr-2"></p-avatar>
        <p class="text-primary text-[#0067FF] text-xl cursor-auto">
          {{ selectedCard?.company }}
        </p>
      </div>

      <div class="text-right">
        <p class="text-sm">
          <b> {{ selectedCard?.price }} </b>
        </p>
      </div>
    </div>
  </p-card>

  <section class="bg-white rounded-2xl mt-6 p-7">
    <div class="text-[#001533] font-light">
      <div class="flex gap-2 justify-start items-center mb-6">
        <img src="icon/cleander.svg" />
        <p>02/02/2025 20:18</p>
      </div>
      <div class="flex gap-2 justify-start items-center mb-6">
        <img src="icon/clock.svg" />
        <p>05/02/2025 13:00 - 16:30</p>
      </div>
    </div>
    <div class="flex justify-between items-center gap-6 flex-wrap">
      <div>
        <h3 class="mb-6">Shipping From</h3>
        <div
          class="flex gap-2 justify-start items-center mb-6 text-[#001533] font-light"
        >
          <img src="icon/location.svg" />
          <div>
            <p>Country-City-Area-Floor</p>
            <p>
              {{ shippingFrom?.country?.name }} {{ shippingFrom?.city?.name }}
              {{ shippingFrom?.address?.name }}
            </p>
          </div>
        </div>
        <div
          class="flex gap-2 justify-start items-center text-[#001533] font-light"
        >
          <img src="icon/person.svg" />
          <div>
            <p>Contact Name</p>
            <p>{{ shippingFrom?.phoneNumber }}</p>
          </div>
        </div>
      </div>
      <div>
        <h3 class="mb-6">Shipping From</h3>
        <div
          class="flex gap-2 justify-start items-center mb-6 text-[#001533] font-light"
        >
          <img src="icon/check-location.svg" />
          <div>
            <p>Country-City-Area-Floor</p>
            <p>
              {{ shippingTo?.country?.name }} {{ shippingTo?.city?.name }}
              {{ shippingTo?.address?.name }}
            </p>
          </div>
        </div>
        <div
          class="flex gap-2 justify-start items-center text-[#001533] font-light"
        >
          <img src="icon/check-person.svg" />
          <div>
            <p>Contact Name</p>
            <p>{{ shippingTo?.phoneNumber }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-6">
    <div *ngFor="let item of secondForm.get('items')?.value" class="mb-4">
      <p-card class="custom-card">
        <div class="flex justify-between items-center">
          <div class="flex items-start justify-start flex-col">
            <div class="flex justify-center items-center">
              <img src="icon/Package1.svg" />
              <div class="ml-2">
                <p class="text-primary text-[#0067FF] text-xl">Package Name</p>
                <p class="text-sm text-[#8E8E93] cursor-pointer">
                  L: {{ item.length }} cm | W: {{ item.width }} cm | H:
                  {{ item.height }} cm | Weight: {{ item.weight }} kg
                </p>
                <p class="text-[#8E8E93] text-ba">{{ item.description }}</p>
              </div>
            </div>
          </div>
          <img src="more.png" alt="More Image" width="25px" />
        </div>
      </p-card>
    </div>
  </section>
</div>
