<div
  class="px-4 shadow-md sticky z-50 top-0 blur-3xl bg-transparent bg-opacity-10 flex-nowrap h-20 flex items-center justify-between"
>
  <div class="flex gap-5 items-center">
    <p-button
      (click)="ss.sidebarVisible = !ss.sidebarVisible"
      [text]="true"
      icon="pi pi-bars text-2xl"
      [outlined]="false"
    >
    </p-button>
    <p class="text-xl font-bold mx-0">{{ "Shipment Broker" | translate }}</p>
  </div>

  <div class="flex gap-5 items-center">
    <p-button
      pRipple
      [outlined]="false"
      severity="secondary"
      [rounded]="true"
      [text]="true"
      class="font-medium cursor-pointer"
      icon="pi pi-language"
      (click)="toggleLang()"
      size="large"
    >
    </p-button>
    <p-button
      pRipple
      [outlined]="false"
      severity="secondary"
      [rounded]="true"
      [text]="true"
      (click)="swwitchTheme('dark')"
      *ngIf="currentTheme === 'light'"
      icon="pi pi-moon"
      size="large"
      styleClass="fa-xl cursor-pointer m-0"
    >
    </p-button>
    <p-button
      pRipple
      [outlined]="false"
      severity="secondary"
      [rounded]="true"
      [text]="true"
      icon="pi pi-sun"
      size="large"
      styleClass="fa-xl cursor-pointer"
      (click)="swwitchTheme('light')"
      *ngIf="currentTheme === 'dark'"
    >
    </p-button>
    <p-avatar [image]="" [icon]="'pi pi-user'" size="large" shape="circle">
    </p-avatar>
  </div>
</div>
