@import "tailwindcss";

/* @import "tailwindcss";

@font-face {
  font-family: "Cairo";
  src: url(./assets/Cairo/Cairo-Regular.woff2) format("woff2"),
    url(./assets/Cairo/Cairo-Regular.woff) format("woff"),
    url(./assets/Cairo/Cairo-Regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: "Cairo", sans-serif !important;
  line-height: 120% !important;
  letter-spacing: -0.5px !important;
}
html,
body {

  margin: 0;
  overflow-x: hidden;
  height: 100% !important;
}
.flipV {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.custom-footer {
  display: block !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  padding: 8px !important;
}

.custom-header {
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  padding: 8px !important;
  font-size: 1.5rem;
  margin: 1rem;
}

.p-paginator .p-dropdown .p-dropdown-label {
  font-family: monospace;
  padding-right: 10px;
  padding-left: 10px;
}

.processes_td {
  width: 13rem;
}
textarea {
  resize: vertical;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--surface-900);
  border-radius: 4px;
}

.approvedHorizentalLien {
  height: 40px;
  width: 5px;
  border-radius: 5px;
  background-color: green;
  content: " ";
}

.penddingHorizentalLien {
  height: 40px;
  width: 5px;
  border-radius: 5px;
  background-color: red;
  content: " ";
}
.p-dialog-content {
  overflow-y: visible !important;
}
.p-datatable-scrollable-table > .p-datatable-thead {
  position: sticky;
  top: 0;
  z-index: 0 !important;
}
::ng-deep .p-multiselect .p-multiselect-label.p-placeholder {
  font-family: "Cairo", sans-serif !important;
}

/* .tab {
  @apply flex flex-col items-center px-4 py-2 border rounded-lg text-gray-600 hover:bg-gray-200;
}

.tab.active {
  @apply border-blue-500 text-blue-500;
}

.select-box {
  @apply w-full px-4 py-2 border rounded-md bg-gray-50;
}

.step {
  @apply flex items-center space-x-2 text-gray-500;
}

.step.active {
  @apply text-blue-500 font-semibold;
} */
