@import "tailwindcss";

@font-face {
  font-family: "Cairo";
  src: url(./assets/Cairo/Cairo-Regular.woff2) format("woff2"),
    url(./assets/Cairo/Cairo-Regular.woff) format("woff"),
    url(./assets/Cairo/Cairo-Regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Cairo", sans-serif !important;
  line-height: 120% !important;
  margin: 0;
  /* background-color: var(--surface-50);
  color: var(--text-color); */

  overflow-x: hidden;

  height: 100% !important;
}

/* .tab {
  @apply flex flex-col items-center px-4 py-2 border rounded-lg text-gray-600 hover:bg-gray-200;
}

.tab.active {
  @apply border-blue-500 text-blue-500;
}

.select-box {
  @apply w-full px-4 py-2 border rounded-md bg-gray-50;
}

.step {
  @apply flex items-center space-x-2 text-gray-500;
}

.step.active {
  @apply text-blue-500 font-semibold;
} */
