<div class="mb-4 space-x-4">
  <button
    *ngFor="let type of types"
    class="w-[157px] lg:w-[300px] p-[10px] bg-white rounded-2xl cursor-pointer opacity-70"
    [class.opacity-100]="selectedType === type"
    [class.border-[#0067FF]]="selectedType === type"
    [class.border-1]="selectedType === type"
    (click)="selectType(type)"
  >
    <div class="flex justify-start items-center">
      <img [src]="'icon/' + type + '.svg'" class="w-[50px]" />
      <p class="ml-2">{{ type }}</p>
    </div>
  </button>
</div>
