<!-- <p-button (onClick)="showDialog()" label="Show" /> -->

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="false"
  [style]="{
    width: '502px',
    minHeight: '449px',
    padding: '8px',

  }"
  class="custom-dialog"
>
  <div class="text-2xl text-start font-semibold p-[20px_5px] mb-2">
    {{ title }}
  </div>

  <div class="space-y-4">
    <div
      *ngFor="let address of addresses; let i = index"
      (click)="selectedAddress = i"
      [class.selected]="selectedAddress === i"
      class="p-[15px] border rounded-[10px] cursor-pointer transition-all"
      [ngClass]="{
        'border-[#0067FF] bg-[#0067FF0D]': selectedAddress === i,
        'border-[#D1D1D6]': selectedAddress !== i
      }"
    >
      <div class="flex items-center gap-2">
        <input
          type="radio"
          [checked]="selectedAddress === i"
          (change)="selectedAddress = i"
          class="form-radio w-[15px] h-[15px] text-blue-50 outline-none ring-0 focus:ring-0 focus:outline-none"
        />
        <div>
          <p class="font-semibold text-base">{{ address.title }}</p>
        </div>
      </div>
      <div class="flex justify-between items-center mt-2">
        <p class="text-sm font-normal text-[#8E8E93]">
          {{ address.description }}
        </p>
        <p *ngIf="hasText" class="text-sm font-normal text-[#8E8E93]">
          {{ address.weight }}
        </p>
      </div>
    </div>
  </div>
  <!--  -->

  <div class="flex justify-end gap-4 mt-[33px]">
    <p-button class="next-button button1 first w-full" label="Save"></p-button>
    <p-button
      class="edit-button button1 first w-full !border-none"
      label="Cancel"
      (onClick)="closeDialog()"
    ></p-button>
  </div>
</p-dialog>
